@media (max-width: 550px) {

.bg_title {
  display: flex !important;
  justify-content: center !important;
  margin-left: -30px !important;
}

.card_size {
  width: 230px !important;
}

.display_card_row {
  gap: 10px !important;
}

.chart_size {
  width: 470px !important;
}

}